#bna{
    float: left;
}

#h2{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    margin-left: 10px;
}
#web{
    color: green;
}
#gyy{
   margin-left: 10px; 
   font-size: 17pt;
}
#rrr{
    margin: 5px;
}
b{
    color: blue;
}
#left{
    float: right;
}
#p0{
    margin-left: 7px;
}