#bna{
    float: left;
}

#h2{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    margin-left: 10px;
}
#web{
    color: green;
}
#gyy{
   margin-left: 10px; 
   font-size: 20pt;
}